/* backgroundImage */
.homeBackground {
  width: 100%;
  height: 100vh;
  background-image: url("/Images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.signup{
background-color: red;

}